body{
    background-color: #f2f2f2;
    font-family: sans-serif;
}
.a{
    background-color: #6038B2;
    color: white;
    height: 250px;
    width: 100%;
}
.ab{
    background-color: white;
    height: 26px;
    width: 995px;
    border-radius: 7px;
    position: absolute;
    top:24%;
    left:15%;

}
.abc{
    background-color:#f2f2f2;
    border: none;
}
.abcd{
    width: 800px;
    background-color:#f2f2f2;
    border: none;
}
.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin-right: 10%;
    margin-left: 10%;
    text-align: center;
    
}
.abcde{
    height: 80px;
    background-color: white;
    border-radius: 5px;
    
}
.parent2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin-right: 10%;
    margin-left: 10%;
    text-align: center;
}
.abcdef{
    height: 80px;
    background-color: white;
    border-radius: 5px;
}
.abcde:hover{
    box-shadow: 8px 8px 8px black;
    transform: scale(1.2);
    transition-duration: 0.4s;
}
.abcdef:hover{
    box-shadow: 8px 8px 8px black;
    transform: scale(1.2);
    transition-duration: 0.4s;
}
.image{
    padding: 10px;
}